node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# IDE files
.idea
.vscode

# Local deployment data
deployment.local.json

# Snapshot configuration
snapshot-space-config.json